<h1>Add product</h1>

<form [formGroup]="productFormGroup" (ngSubmit)="onProductAdd(productFormGroup.value)">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title">       
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price">       
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="productFormGroup.invalid">Submit</button>
  

</form>
